In [1]:
sc

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<SparkContext master=yarn appName=livy-session-0>

In [2]:
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7f60c39d6510>

In [3]:
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [4]:
# creating custom schema

schema = StructType([
    StructField("year", IntegerType(), True),
    StructField("month", StringType(), True),
    StructField("day", IntegerType(), True),
    StructField("weekday", StringType(), True),
    StructField("hour", IntegerType(), True),
    StructField("atm_status", StringType(), True),
    StructField("atm_id", StringType(), True),
    StructField("atm_manufacturer", StringType(), True),
    StructField("atm_location", StringType(), True),
    StructField("atm_streetname", StringType(), True),
    StructField("atm_street_number", IntegerType(), True),
    StructField("atm_zipcode", IntegerType(), True),
    StructField("atm_lat", DoubleType(), True),
    StructField("atm_lon", DoubleType(), True),
    StructField("currency", StringType(), True),
    StructField("card_type", StringType(), True),
    StructField("transaction_amount", IntegerType(), True),
    StructField("service", StringType(), True),
    StructField("message_code", StringType(), True),
    StructField("message_text", StringType(), True),
    StructField("weather_lat", DoubleType(), True),
    StructField("weather_lon", DoubleType(), True),
    StructField("weather_city_id", IntegerType(), True),
    StructField("weather_city_name", StringType(), True),
    StructField("temp", DoubleType(), True),
    StructField("pressure", IntegerType(), True),
    StructField("humidity", IntegerType(), True),
    StructField("wind_speed", IntegerType(), True),
    StructField("wind_deg", IntegerType(), True),
    StructField("rain_3h", DoubleType(), True),
    StructField("clouds_all", IntegerType(), True),
    StructField("weather_id", IntegerType(), True),
    StructField("weather_main", StringType(), True),
    StructField("weather_description", StringType(), True)
])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [5]:
# reading the data from HDFS

df = spark.read \
    .format("csv") \
    .option("header", "false") \
    .schema(schema) \
    .load("data/", sep='|')


df.show(2)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+-------+----+----------+------+----------------+------------+--------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+--------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|   Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|         light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|    Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|         light rain|
+----+-------+---+-------+----+----------+------+----------------+------------+--------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 2 rows

In [6]:
# verify count of total records 
df.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [7]:
df.rdd.getNumPartitions()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

4

In [8]:
# check if the schema is correct
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

## Creating Location dimension

In [9]:
# select only distinct records in all dimension tables.
df_location = df.select('atm_location','atm_streetname','atm_street_number','atm_zipcode','atm_lat','atm_lon').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [10]:
df_location.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------------+-----------------+-----------+-------+-------+
|    atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+----------------+-------------------+-----------------+-----------+-------+-------+
|         Kolding|           Vejlevej|              135|       6000| 55.505|  9.457|
|  Skelagervej 15|        Skelagervej|               15|       9000| 57.023|  9.891|
|Intern HolbÃƒÂ¦k|        Slotsvolden|                7|       4300| 55.718| 11.704|
|          Odense|       FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|
|           Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|
+----------------+-------------------+-----------------+-----------+-------+-------+
only showing top 5 rows

In [11]:
df_location.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

109

In [12]:
df_location.select('*').show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------------+-----------------+-----------+-------+-------+
|    atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+----------------+-------------------+-----------------+-----------+-------+-------+
|         Kolding|           Vejlevej|              135|       6000| 55.505|  9.457|
|  Skelagervej 15|        Skelagervej|               15|       9000| 57.023|  9.891|
|Intern HolbÃƒÂ¦k|        Slotsvolden|                7|       4300| 55.718| 11.704|
|          Odense|       FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|
|           Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|
+----------------+-------------------+-----------------+-----------+-------+-------+
only showing top 5 rows

In [13]:
# creating a primary key 'location_id' based on row_number

window_spec = Window.partitionBy().orderBy(df_location['atm_location'])
df_location = df_location.select(row_number().over(window_spec).alias('location_id'), '*')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [14]:
df_location.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+--------------------+---------------+-----------------+-----------+-------+-------+
|location_id|        atm_location| atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+-----------+--------------------+---------------+-----------------+-----------+-------+-------+
|          1|             Aabybro|   ÃƒËœstergade|                6|       9440| 57.162|   9.73|
|          2|      Aalborg Hallen|   Europa Plads|                4|       9000| 57.044|  9.913|
|          3|Aalborg Storcente...|       Hobrovej|              452|       9200| 57.005|  9.876|
|          4|Aalborg Storcente...|       Hobrovej|              452|       9200| 57.005|  9.876|
|          5|         Aalborg Syd|       Hobrovej|              440|       9200| 57.005|  9.881|
|          6|           AalbÃƒÂ¦k|     Centralvej|                5|       9982| 57.593| 10.412|
|          7|              Aarhus| SÃƒÂ¸nder Alle|               11|       8000| 56.153| 10.206|
|          8|              Aarhus|     Ceres Byen|               75|       8000| 56.157| 10.194|
|          9|     Aarhus Lufthavn|Ny Lufthavnsvej|               24|       8560| 56.308| 10.627|
|         10|                Aars|Himmerlandsgade|               70|       9600| 56.803|  9.518|
+-----------+--------------------+---------------+-----------------+-----------+-------+-------+
only showing top 10 rows

In [15]:
df_location.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

109

In [16]:
df_location.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+--------------------+------------------+-----------------+-----------+-------+-------+
|location_id|        atm_location|    atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+-----------+--------------------+------------------+-----------------+-----------+-------+-------+
|          1|             Aabybro|      ÃƒËœstergade|                6|       9440| 57.162|   9.73|
|          2|      Aalborg Hallen|      Europa Plads|                4|       9000| 57.044|  9.913|
|          3|Aalborg Storcente...|          Hobrovej|              452|       9200| 57.005|  9.876|
|          4|Aalborg Storcente...|          Hobrovej|              452|       9200| 57.005|  9.876|
|          5|         Aalborg Syd|          Hobrovej|              440|       9200| 57.005|  9.881|
|          6|           AalbÃƒÂ¦k|        Centralvej|                5|       9982| 57.593| 10.412|
|          7|              Aarhus|    SÃƒÂ¸nder Alle|               11|       8000| 56.153| 10.206|
|          8|              Aarhus|        Ceres Byen|               75|       8000| 56.157| 10.194|
|          9|     Aarhus Lufthavn|   Ny Lufthavnsvej|               24|       8560| 56.308| 10.627|
|         10|                Aars|   Himmerlandsgade|               70|       9600| 56.803|  9.518|
|         11|          Abildgaard|    HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|
|         12|               Arden|        Vestergade|                6|       9510| 56.769|  9.859|
|         13|            Bindslev|       NÃƒÂ¸rrebro|               18|       9881| 57.541|   10.2|
|         14|         Bispensgade|       Bispensgade|               35|       9800| 57.453|  9.996|
|         15|         Brugsen ANS|SÃƒÂ¸ndermarksgade|               14|       8643| 56.306|  9.594|
|         16|     Brugsen i Breum|     AakjÃƒÂ¦rsvej|                1|       7870| 56.688|  9.069|
|         17|      Bryggen  Vejle|  SÃƒÂ¸nderbrogade|                2|       7100| 55.705|  9.532|
|         18|      BrÃƒÂ¸nderslev|            Algade|                4|       9700| 57.269|  9.945|
|         19|    DAYZ Feriecenter|        LivÃƒÂ¸vej|               80|       9681| 56.893|  9.171|
|         20|Daglig Brugsen Ãƒ...|         Kystvejen|               51|       9560| 56.804| 10.271|
+-----------+--------------------+------------------+-----------------+-----------+-------+-------+
only showing top 20 rows

In [17]:
df_location.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- location_id: integer (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)

## Creating ATM dimension

In [18]:
# Also select the columns 'atm_location','atm_streetname','atm_street_number','atm_zipcode','atm_lat','atm_lon' to join
# the table with location table using these columns to fetch the location_id

df_atm = df.select('atm_id','atm_manufacturer','atm_location','atm_streetname',
                   'atm_street_number', 'atm_zipcode','atm_lat','atm_lon').distinct()
df_atm.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

113

In [19]:
df_atm.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+
|atm_id|atm_manufacturer|        atm_location|   atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+
|    59| Diebold Nixdorf|NykÃƒÂ¸bing Mors ...|      Kirketorvet|                1|       7900| 56.795|   8.86|
|    41| Diebold Nixdorf|              Skagen|Sct. Laurentiivej|               36|       9990| 57.723|  10.59|
|    40| Diebold Nixdorf|       Frederikshavn|     Danmarksgade|               48|       9900| 57.441| 10.537|
|    87|             NCR|Aalborg Storcente...|         Hobrovej|              452|       9200| 57.005|  9.876|
|    31|             NCR|            Slagelse|  Mariendals Alle|               29|       4200| 55.398| 11.342|
+------+----------------+--------------------+-----------------+-----------------+-----------+-------+-------+
only showing top 5 rows

In [20]:
# creating views for atm and location dimension to join them using sql and create foreign key location_id
# in atm table based on location table primary key

df_atm.createOrReplaceTempView('atm')
df_location.createOrReplaceTempView('loc')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [21]:
# joining on atm_location to fetch the location_id from location dimension.
# doing left join to fetch the location_id for each atm_id
# joining is possible on atm_location as atm_location

df_atm = spark.sql(" select atm.atm_id, atm.atm_manufacturer, loc.location_id \
                     from atm left join loc on \
                     atm.atm_location = loc.atm_location and \
                     atm.atm_streetname = loc.atm_streetname and \
                     atm.atm_street_number = loc.atm_street_number and \
                     atm.atm_zipcode = loc.atm_zipcode and \
                     atm.atm_lat = loc.atm_lat and \
                     atm.atm_lon = loc.atm_lon ")

df_atm.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+----------------+-----------+
|atm_id|atm_manufacturer|location_id|
+------+----------------+-----------+
|    40| Diebold Nixdorf|         27|
|    41| Diebold Nixdorf|         82|
|    59| Diebold Nixdorf|         73|
|    97|             NCR|         51|
|    19|             NCR|         62|
|    31|             NCR|         89|
|    87|             NCR|          4|
|    74|             NCR|         61|
|    56| Diebold Nixdorf|         64|
|    51|             NCR|         29|
+------+----------------+-----------+
only showing top 10 rows

In [22]:
df_atm.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

113

In [23]:
# atm_id in fact table should be atm_number as per the atm schema
# and atm_id in atm schema should be the primary key generated using row_number

window_spec = Window.partitionBy().orderBy(df_atm['atm_id'])
df_atm = df_atm.select(row_number().over(window_spec).alias('atm_id'),
                       col('atm_id').alias('atm_number'),
                       'atm_manufacturer', 'location_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [24]:
df_atm.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+----------+----------------+-----------+
|atm_id|atm_number|atm_manufacturer|location_id|
+------+----------+----------------+-----------+
|     1|         1|             NCR|         74|
|     2|        10|             NCR|         76|
|     3|       100|             NCR|         56|
|     4|       101|             NCR|         17|
|     5|       102|             NCR|          3|
|     6|       103| Diebold Nixdorf|        103|
|     7|       104|             NCR|         58|
|     8|       105| Diebold Nixdorf|         76|
|     9|       106|             NCR|         55|
|    10|       107| Diebold Nixdorf|         62|
+------+----------+----------------+-----------+
only showing top 10 rows

In [25]:
df_atm.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- atm_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location_id: integer (nullable = true)

## Creating Date dimension

In [26]:
df_date = df.select("year","month","day","hour","weekday").distinct()
df_date.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+--------+
|year|month|day|hour| weekday|
+----+-----+---+----+--------+
|2017|April| 14|  11|  Friday|
|2017|  May| 25|   8|Thursday|
|2017|  May| 27|  19|Saturday|
|2017|  May|  2|  20| Tuesday|
|2017| June| 19|   0|  Monday|
+----+-----+---+----+--------+
only showing top 5 rows

In [27]:
df_date.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

8685

In [28]:
# If using Spark version > 3.0, then use this for proper conversion to timestamp

# spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [29]:
# create the timestamp using year, month, day, hour columns
# date_id is the primary key generated using row_number

window_spec = Window.partitionBy().orderBy('year','month','day','hour')

df_date = df_date.select(row_number().over(window_spec).alias('date_id'),
                         to_timestamp(
                            concat_ws(
                                " ",
                                df["year"].cast("string"),  # Cast year to string
                                df["month"],
                                df["day"].cast("string"),   # Cast day to string
                                df["hour"].cast("string"),  # Cast hour to string
                                    ),
                    "yyyy MMMM dd HH").alias('full_date_time'),  #"yyyy MMMM dd HH" is the format of input
                         '*')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [30]:
df_date.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+-------------------+----+-----+---+----+--------+
|date_id|     full_date_time|year|month|day|hour| weekday|
+-------+-------------------+----+-----+---+----+--------+
|      1|2017-04-01 00:00:00|2017|April|  1|   0|Saturday|
|      2|2017-04-01 01:00:00|2017|April|  1|   1|Saturday|
|      3|2017-04-01 02:00:00|2017|April|  1|   2|Saturday|
|      4|2017-04-01 03:00:00|2017|April|  1|   3|Saturday|
|      5|2017-04-01 04:00:00|2017|April|  1|   4|Saturday|
|      6|2017-04-01 05:00:00|2017|April|  1|   5|Saturday|
|      7|2017-04-01 06:00:00|2017|April|  1|   6|Saturday|
|      8|2017-04-01 07:00:00|2017|April|  1|   7|Saturday|
|      9|2017-04-01 08:00:00|2017|April|  1|   8|Saturday|
|     10|2017-04-01 09:00:00|2017|April|  1|   9|Saturday|
+-------+-------------------+----+-----+---+----+--------+
only showing top 10 rows

In [32]:
df_date.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)

## Creating Card type dimension

In [33]:
df_card = df.select('card_type').distinct()
df_card.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+
|           card_type|
+--------------------+
|Visa Dankort - on-us|
|  Mastercard - on-us|
|         HÃƒÂ¦vekort|
|            VisaPlus|
|     Dankort - on-us|
+--------------------+
only showing top 5 rows

In [34]:
df_card = df_card.select(row_number().over(Window.partitionBy().orderBy('card_type')).alias('card_type_id'), 'card_type')

df_card.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+-------------------+
|card_type_id|          card_type|
+------------+-------------------+
|           1|             CIRRUS|
|           2|            Dankort|
|           3|    Dankort - on-us|
|           4|        HÃƒÂ¦vekort|
|           5|HÃƒÂ¦vekort - on-us|
+------------+-------------------+
only showing top 5 rows

In [35]:
df_card.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

12

In [36]:
df_card.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+--------------------+
|card_type_id|           card_type|
+------------+--------------------+
|           1|              CIRRUS|
|           2|             Dankort|
|           3|     Dankort - on-us|
|           4|         HÃƒÂ¦vekort|
|           5| HÃƒÂ¦vekort - on-us|
|           6|             Maestro|
|           7|          MasterCard|
|           8|  Mastercard - on-us|
|           9|                VISA|
|          10|        Visa Dankort|
|          11|Visa Dankort - on-us|
|          12|            VisaPlus|
+------------+--------------------+

In [37]:
df_card.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- card_type_id: integer (nullable = true)
 |-- card_type: string (nullable = true)

## Creating fact table

In [38]:
# Creating all the views for all dimensions and fact table

df_location.createOrReplaceTempView('loc')
df_atm.createOrReplaceTempView('atm')
df_date.createOrReplaceTempView('date')
df_card.createOrReplaceTempView('card')
df.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [39]:
# joining with card dimension

df_fact = spark.sql("select card.card_type_id, fact.* \
                    from fact left join card on fact.card_type = card.card_type")
df_fact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|card_type_id|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|   atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|      card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|           3|2017|January|  1| Sunday|   2|  Inactive|    16|             NCR|       Skive|         Adelgade|                8|       7800| 56.567|  9.027|     DKK|Dankort - on-us|              9475|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive| 281.15|    1010|     100|         6|     240|    0.0|        75|       500|        Rain|         light rain|
|           3|2017|January|  1| Sunday|   7|    Active|    45|             NCR|  Abildgaard|   HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              4192|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|280.289|    1016|     100|         8|     272|    0.0|        88|       804|      Clouds|    overcast clouds|
|           3|2017|January|  1| Sunday|   8|    Active|    24|             NCR|       Hobro|         Adelgade|               31|       9500| 56.638|  9.794|     DKK|Dankort - on-us|              2487|Withdrawal|        null|        null|     56.643|       9.79|        2620167|            Hobro|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|           3|2017|January|  1| Sunday|   9|    Active|     7| Diebold Nixdorf|   Hjallerup|Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|Dankort - on-us|              3795|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|           3|2017|January|  1| Sunday|   9|    Active|    65|             NCR|   Storvorde|  VandvÃƒÂ¦rksvej|                2|       9280| 57.005| 10.101|     DKK|Dankort - on-us|                82|Withdrawal|        null|        null|     57.004|     10.101|        2612301|        Storvorde|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 5 rows

In [40]:
# create a view for the fact table based on updated columns after previous join

df_fact.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [41]:
# join with date dimension

df_fact = spark.sql("select date.date_id, fact.* from fact left join date on \
                    fact.year = date.year and \
                    fact.month = date.month and \
                    fact.day = date.day and \
                    fact.hour = date.hour and \
                    fact.weekday = date.weekday ")

df_fact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|date_id|card_type_id|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|   atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|      card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|   2865|           3|2017|January|  1| Sunday|   2|  Inactive|    16|             NCR|       Skive|         Adelgade|                8|       7800| 56.567|  9.027|     DKK|Dankort - on-us|              9475|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive| 281.15|    1010|     100|         6|     240|    0.0|        75|       500|        Rain|         light rain|
|   2870|           3|2017|January|  1| Sunday|   7|    Active|    45|             NCR|  Abildgaard|   HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              4192|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|280.289|    1016|     100|         8|     272|    0.0|        88|       804|      Clouds|    overcast clouds|
|   2871|           3|2017|January|  1| Sunday|   8|    Active|    24|             NCR|       Hobro|         Adelgade|               31|       9500| 56.638|  9.794|     DKK|Dankort - on-us|              2487|Withdrawal|        null|        null|     56.643|       9.79|        2620167|            Hobro|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|   2872|           3|2017|January|  1| Sunday|   9|    Active|     7| Diebold Nixdorf|   Hjallerup|Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|Dankort - on-us|              3795|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|   2872|           3|2017|January|  1| Sunday|   9|    Active|    65|             NCR|   Storvorde|  VandvÃƒÂ¦rksvej|                2|       9280| 57.005| 10.101|     DKK|Dankort - on-us|                82|Withdrawal|        null|        null|     57.004|     10.101|        2612301|        Storvorde|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 5 rows

In [42]:
df_fact.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [43]:
# join with location dimension

df_fact = spark.sql("select loc.location_id weather_loc_id, fact.* \
                     from fact left join loc on \
                     fact.atm_location = loc.atm_location and \
                     fact.atm_streetname = loc.atm_streetname and \
                     fact.atm_street_number = loc.atm_street_number and \
                     fact.atm_zipcode = loc.atm_zipcode and \
                     fact.atm_lat = loc.atm_lat and \
                     fact.atm_lon = loc.atm_lon ")

df_fact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|weather_loc_id|date_id|card_type_id|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|   atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|      card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|            86|   2865|           3|2017|January|  1| Sunday|   2|  Inactive|    16|             NCR|       Skive|         Adelgade|                8|       7800| 56.567|  9.027|     DKK|Dankort - on-us|              9475|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive| 281.15|    1010|     100|         6|     240|    0.0|        75|       500|        Rain|         light rain|
|            11|   2870|           3|2017|January|  1| Sunday|   7|    Active|    45|             NCR|  Abildgaard|   HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              4192|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|280.289|    1016|     100|         8|     272|    0.0|        88|       804|      Clouds|    overcast clouds|
|            40|   2871|           3|2017|January|  1| Sunday|   8|    Active|    24|             NCR|       Hobro|         Adelgade|               31|       9500| 56.638|  9.794|     DKK|Dankort - on-us|              2487|Withdrawal|        null|        null|     56.643|       9.79|        2620167|            Hobro|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|            38|   2872|           3|2017|January|  1| Sunday|   9|    Active|     7| Diebold Nixdorf|   Hjallerup|Hjallerup Centret|               18|       9320| 57.168| 10.148|     DKK|Dankort - on-us|              3795|Withdrawal|        null|        null|     57.165|     10.146|        2620275|        Hjallerup|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
|            92|   2872|           3|2017|January|  1| Sunday|   9|    Active|    65|             NCR|   Storvorde|  VandvÃƒÂ¦rksvej|                2|       9280| 57.005| 10.101|     DKK|Dankort - on-us|                82|Withdrawal|        null|        null|     57.004|     10.101|        2612301|        Storvorde|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|
+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 5 rows

In [44]:
df_fact.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [45]:
# join with atm dimension
# note that atm_id of fact will be mapped to atm_number of atm dimension

df_fact = spark.sql("select atm.atm_id atm_id_dim, fact.* \
                    from fact left join atm on \
                    fact.atm_id = atm.atm_number and \
                    fact.atm_manufacturer = atm.atm_manufacturer and \
                    fact.weather_loc_id = atm.location_id ")

df_fact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|atm_id_dim|weather_loc_id|date_id|card_type_id|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|  atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|      card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+----------+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|        54|            11|   2870|           3|2017|January|  1| Sunday|   7|    Active|    45|             NCR|  Abildgaard|  HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              4192|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|280.289|    1016|     100|         8|     272|    0.0|        88|       804|      Clouds|    overcast clouds|
|        29|            79|   2874|           3|2017|January|  1| Sunday|  11|    Active|    22|             NCR|    Roskilde|KÃƒÂ¸benhavnsvej|               65|       4000| 55.642| 12.106|     DKK|Dankort - on-us|              5046|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde| 280.15|    1009|      93|         4|     300|    0.0|        92|       500|        Rain|         light rain|
|        29|            79|   2875|           3|2017|January|  1| Sunday|  12|    Active|    22|             NCR|    Roskilde|KÃƒÂ¸benhavnsvej|               65|       4000| 55.642| 12.106|     DKK|Dankort - on-us|              8216|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde| 279.69|    1009|      93|         4|     270|  1.925|        92|       500|        Rain|         light rain|
|        54|            11|   2876|           3|2017|January|  1| Sunday|  13|    Active|    45|             NCR|  Abildgaard|  HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              1556|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|279.646|    1017|     100|         7|     310|    0.0|        56|       803|      Clouds|      broken clouds|
|        54|            11|   2876|           3|2017|January|  1| Sunday|  13|    Active|    45|             NCR|  Abildgaard|  HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|Dankort - on-us|              4428|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|279.646|    1017|     100|         7|     310|    0.0|        56|       803|      Clouds|      broken clouds|
+----------+--------------+-------+------------+----+-------+---+-------+----+----------+------+----------------+------------+----------------+-----------------+-----------+-------+-------+--------+---------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 5 rows

In [46]:
df_fact.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [47]:
# selecting only the relevant columns in fact table

df_fact = df_fact.select(row_number().over(Window.partitionBy().orderBy('date_id','atm_id_dim','weather_loc_id','card_type_id')).alias('trans_id'),
                         col('atm_id_dim').alias('atm_id'),
                         'weather_loc_id','date_id', 'card_type_id', 'atm_status', 'currency','service', 'transaction_amount',
                         'message_code','message_text','rain_3h','clouds_all','weather_id','weather_main', 'weather_description'
                         )

df_fact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|trans_id|atm_id|weather_loc_id|date_id|card_type_id|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|       1|     1|            74|      1|           7|    Active|     DKK|Withdrawal|              2033|        null|        null|    0.0|        56|       701|        Mist|               mist|
|       2|     1|            74|      1|           8|    Active|     DKK|Withdrawal|              4502|        null|        null|    0.0|        56|       701|        Mist|               mist|
|       3|     1|            74|      1|           9|    Active|     DKK|Withdrawal|              6662|        null|        null|    0.0|        56|       701|        Mist|               mist|
|       4|    18|           108|      1|           1|  Inactive|     DKK|Withdrawal|              1965|        null|        null|  0.129|        64|       500|        Rain|         light rain|
|       5|    18|           108|      1|           8|  Inactive|     DKK|Withdrawal|              4044|        null|        null|  0.129|        64|       500|        Rain|         light rain|
+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
only showing top 5 rows

In [48]:
df_fact.createOrReplaceTempView('fact')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [49]:
df_fact.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [50]:
df_fact.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- trans_id: integer (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- weather_loc_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- service: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

## Data Validation and Cleaning

In [51]:
null_counts = df_fact.select([sum(col(column).isNull().cast("int")).alias(column) for column in df_fact.columns])
null_counts.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|trans_id|atm_id|weather_loc_id|date_id|card_type_id|atm_status|currency|service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|       0|     0|             0|      0|           0|         0|       0|      0|                 0|     2459009|     2459010|   8087|      8087|      8087|        8087|               8087|
+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+

#### Not cleaning nulls in message_code and message_text as their Nulls indicate successful transactions.

In [52]:
# analyzing the nulls in weather columns

df_fact.filter(col('rain_3h').isNull()).select("clouds_all","message_text").show(5, truncate=False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-------------------------------------------------------------------------------------------+
|clouds_all|message_text                                                                               |
+----------+-------------------------------------------------------------------------------------------+
|null      |Suspected malfunction|0.000|57.721|11|2613939|0.000|276|1006|90|1|320.000|0|68|803|Clouds  |
|null      |Suspected malfunction|0.000|57.721|11|2613939|0.000|275|1006|86|1|0.000|0|20|801|Clouds    |
|null      |Suspected malfunction|0.000|57.721|11|2613939|0.000|275|1006|86|1|0.000|0|20|801|Clouds    |
|null      |Suspected malfunction|0.000|57.004|10|2612301|0.000|272|1013|54|2|290.000|0|0|800|Clear    |
|null      |Suspected malfunction|0.000|57.004|10|2612301|0.000|271|1014|63|1|190.000|0|0|800|Clear    |
|null      |Suspected malfunction|0.000|55.676|13|2618425|0.000|274|1013|64|3|320.000|0|0|800|Clear    |
|null      |Suspected malfunction|0.000|56.139|9|2620425|0.000|275|1015|80|2|270.000|0|0|800|Clear     |
|null      |Suspected malfunction|0.000|56.139|9|2620425|0.000|275|1015|80|2|270.000|0|0|800|Clear     |
|null      |Suspected malfunction|0.000|56.793|9|2615964|0.000|276|1015|74|4|290.000|0|0|800|Clear     |
|null      |Suspected malfunction|0.000|56.793|9|2615964|0.000|276|1015|74|4|290.000|0|0|800|Clear     |
|null      |Suspected malfunction|0.000|57.158|10|2625037|0.000|277|1013|41|1|270.000|0|20|801|Clouds  |
|null      |Suspected malfunction|0.000|57.165|10|2620275|0.000|275|1013|47|0|250.000|0|0|800|Clear    |
|null      |Suspected malfunction|0.000|55.506|10|2616933|0.000|278|1013|93|5|260.000|0|90|520|Rain    |
|null      |Suspected malfunction|0.000|57.004|10|2612301|0.000|278|1000|86|6|220.000|0|75|500|Rain    |
|null      |Suspected malfunction|0.000|57.004|10|2612301|0.000|278|1000|86|6|220.000|0|75|500|Rain    |
|null      |Suspected malfunction|0.000|55.676|13|2618425|0.000|278|1003|93|6|230.000|0|75|520|Rain    |
|null      |Suspected malfunction|0.000|56.170|10|2614030|0.000|281|999|87|10|270.000|0|92|500|Rain    |
|null      |Suspected malfunction|0.000|56.715|10|2620952|0.000|280|1006|90|12|285.000|0|100|804|Clouds|
|null      |Suspected malfunction|0.000|56.715|10|2620952|0.000|278|1002|65|9|349.000|0|88|804|Clouds  |
|null      |Suspected malfunction|0.000|56.715|10|2620952|0.000|278|1002|65|9|349.000|0|88|804|Clouds  |
+----------+-------------------------------------------------------------------------------------------+
only showing top 20 rows

In [70]:
df_fact.select('weather_main').distinct().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+
|weather_main|
+------------+
|       Clear|
|      Clouds|
|        Mist|
|Thunderstorm|
|        Snow|
|        Haze|
|     TORNADO|
|     Drizzle|
|         Fog|
|        Rain|
+------------+

### Note:

- This indicates that the missing rows in weather columns are because of all column values after message_text being assigned to message_text.
- The values however don't include values for weather_description column. 

- So, we will clean the message_text column to extract the last 4 values for the columns:
        rain_3h|clouds_all|weather_id|weather_main

In [53]:
df_fact.select('message_text').distinct().show(10, truncate=False)

# message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------------------------------------------------------------------------------------+
|message_text                                                                              |
+------------------------------------------------------------------------------------------+
|Suspected malfunction|0.000|56.643|10|2620167|0.000|278|1038|88|8|285.000|0|44|802|Clouds |
|Suspected malfunction|0.000|55.490|9|2618528|0.000|280|1020|100|3|150.000|0|92|300|Drizzle|
|Timed-out taking card|0.000|56.715|10|2620952|0.000|276|998|88|7|192.000|0|92|500|Rain    |
|Suspected malfunction|0.000|55.060|11|2612045|0.000|288|1021|87|3|80.000|0|40|802|Clouds  |
|Suspected malfunction|0.000|56.567|9|2613731|0.000|279|1033|100|4|250.000|0|88|500|Rain   |
|Suspected malfunction|0.000|57.048|10|2616235|0.000|289|1010|68|9|39.000|0|68|803|Clouds  |
|Suspected malfunction|0.000|57.441|11|2621927|0.000|285|1030|100|8|120.000|0|92|500|Rain  |
|Suspected malfunction|0.000|55.506|10|2616933|0.000|293|1017|68|3|150.000|0|0|800|Clear   |
|Suspected malfunction                                                                     |
|Suspected malfunction|0.000|57.048|10|2616235|0.000|279|1029|96|7|246.000|0|76|500|Rain   |
+------------------------------------------------------------------------------------------+
only showing top 10 rows

In [62]:
# checking if the split function is working properly on the column

df_fact.filter(df.message_text.isNotNull()) \
        .select('message_text', split(col("message_text"), "\\|")[12].alias('val')) \
        .show(10, truncate=False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------------------------------------------------------------------------------+----+
|message_text                                                                            |val |
+----------------------------------------------------------------------------------------+----+
|Timed-out taking money                                                                  |null|
|Suspected malfunction|0.000|57.165|10|2620275|0.000|286|997|87|59|160.000|0|75|500|Rain |75  |
|Suspected malfunction|0.000|57.165|10|2620275|0.000|285|1011|87|11|272.000|0|76|500|Rain|76  |
|Suspected malfunction|0.000|57.165|10|2620275|0.000|288|998|77|8|240.000|0|40|802|Clouds|40  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|272|1011|74|7|60.000|0|75|600|Snow  |75  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|285|1023|87|4|80.000|0|75|803|Clouds|75  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|285|1023|87|4|80.000|0|75|803|Clouds|75  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|285|1023|87|4|80.000|0|75|803|Clouds|75  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|286|1022|99|3|284.000|1|92|500|Rain |92  |
|Suspected malfunction|0.000|56.994|10|2621449|0.000|286|1022|99|3|284.000|1|92|500|Rain |92  |
+----------------------------------------------------------------------------------------+----+
only showing top 10 rows

In [63]:
# assigning the values correctly after splitting message_text column

# if '|' is present in message_text then split based on '|' and assign value at 11th index to rain_3h 
# else keep the rain_3h value as it is

df_fact = df_fact.withColumn(
    "rain_3h",
    when(col("message_text").contains("|"), split(col("message_text"), "\\|")[11])
    .otherwise(col("rain_3h"))
)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [64]:
df_fact = df_fact.withColumn(
    "clouds_all",
    when(col("message_text").contains("|"), split(col("message_text"), "\\|")[12])
    .otherwise(col("clouds_all"))
)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [65]:
df_fact = df_fact.withColumn(
    "weather_id",
    when(col("message_text").contains("|"), split(col("message_text"), "\\|")[13])
    .otherwise(col("weather_id"))
)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [66]:
df_fact = df_fact.withColumn(
    "weather_main",
    when(col("message_text").contains("|"), split(col("message_text"), "\\|")[14])
    .otherwise(col("weather_main"))
)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [67]:
df_fact = df_fact.withColumn(
    "message_text",
    when(col("message_text").contains("|"), split(col("message_text"), "\\|")[0])
    .otherwise(col("message_text"))
)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [68]:
# validating the unique values in message_text column now

df_fact.select('message_text').distinct().show(truncate=False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------------------------+
|message_text                  |
+------------------------------+
|Suspected malfunction         |
|null                          |
|No response received from host|
|Timed-out taking card         |
|Timed-out taking money        |
+------------------------------+

In [71]:
# checking nulls now

null_counts = df_fact.select([sum(col(column).isNull().cast("int")).alias(column) for column in df_fact.columns])
null_counts.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|trans_id|atm_id|weather_loc_id|date_id|card_type_id|atm_status|currency|service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|       0|     0|             0|      0|           0|         0|       0|      0|                 0|     2459009|     2459010|      0|         0|         0|           0|               8087|
+--------+------+--------------+-------+------------+----------+--------+-------+------------------+------------+------------+-------+----------+----------+------------+-------------------+

## Writing tables in S3

In [72]:
dim_atm_path = "s3://atm-data-model/DIM_ATM/" 

# Write atm dimension to S3 in CSV format
df_atm.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(dim_atm_path)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [73]:
dim_date_path = "s3://atm-data-model/DIM_DATE/" 

# Write date dimension to S3 in CSV format
df_date.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(dim_date_path)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [74]:
dim_card_path = "s3://atm-data-model/DIM_CARD_TYPE/" 

# Write card dimension to S3 in CSV format
df_card.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(dim_card_path)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [75]:
dim_location_path = "s3://atm-data-model/DIM_LOCATION/" 

# Write location dimension to S3 in CSV format
df_location.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(dim_location_path)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [76]:
fact_path = "s3://atm-data-model/FACT_ATM_TRANS/" 

# Write fact table to S3 in CSV format
df_fact.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(fact_path)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…